<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 text-center mb-4">
      <h4>投稿編集</h4>
    </div>
  </div>

  <% if @post.errors.any? %>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-8">
      <%= render 'form', post: @post, toys: @toys, users: @users %>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <div class="col-8 d-flex justify-content-between">
      <%= link_to "投稿に戻る", post_path(@post.id), class: "btn btn-outline-secondary" %>
      <%= link_to "投稿を削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
