<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 text-center mb-4">
      <h4>新規投稿フォーム</h4>
    </div>
  </div>

  <% if @post.errors.any? %>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-8">
      <%= render 'form', post: @post, toys: @toys, users: @users, selected_toys: @selected_toys %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-2"></div>
    <div class="col-4" >
      <%= link_to "←投稿一覧に戻る", posts_path, class: "btn btn-outline-secondary" %>
    </div>
    <div class="col-6"></div>
  </div>

</div>