<div class="container">
  <div class="row">
    <div class="col-4 my-5 ml-4">
      <h4 class="text-center">新規投稿フォーム</h4>
    </div>
  </div>


  <div class="row">
    <div class="col-2"></div>
    <div class="col-5">
    <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
    <div class="col-5"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
       <%= render 'form', post: @post, toys: @toys %>
    </div>
    <div class="col-2"></div>
  </div>
</div>