<%= form_with model: [post, comment], local: true do |f| %>
  <div class="d-flex">
    <%= f.text_area :comment, rows: 3, class: 'form-control post_body comment-textarea', id: "comment_textarea" %>
    <div class="d-flex align-items-end ml-2">
      <%= f.submit "投稿", class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>