<table class='table'>
  <thead>
    <tr class="admin-table-head">
      <th>ID</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% toys.each do |toy| %>
      <tr class="bg-white">
        <td><%= toy.id %></td>
        <td> 
          <%= link_to admin_toy_path(toy.id) do %>
            <%= toy.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>