<div class="container">
  <div class= "row">
    <div class = "col-8">
    <h2>Nuidoriへようこそ</h2>
    <h3>ぬいと過ごす日常をシェアしよう！</h3>
      ぬいぐるみと過ごす毎日ってめっちゃ尊い。<br>
      かわいい表情、ちょっとしたポーズ...<br>
      そんな「ぬいとの日常」を気軽にシェアできるSNSが登場しました！
    </div>

    <div class = "col-4">
      <%= link_to "新規会員登録", new_user_registration_path %>
      <br>
      <%= link_to "ログイン", new_user_session_path %>
      <br>
    </div>
  </div>
</div>