<div class="container my-5">
  <div class="row align-items-center">
    <!-- テキスト -->
    <div class="col-md-6 order-2 order-md-1 mb-4">
      <h2 class="mb-3">Nuidoriへようこそ</h2>
      <h4 class="mb-4 text-muted">ぬいと過ごす日常をシェアしよう！</h4>
      <p class="mb-4">
        ぬいぐるみと過ごす毎日って、ほんとうに尊い。<br>
        表情、ポーズ、ふとした瞬間…<br>
        そんな「ぬいとの日常」をシェアできるSNSが「Nuidori」です！
      </p>
      <div>
        <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-primary btn-lg mr-2 mb-2" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary btn-lg mb-2" %>
      </div>
    </div>

    <!-- 画像 -->
    <div class="col-md-6 order-1 order-md-2 text-center">
      <%= image_tag("top_bg1.jpg", class: "img-fluid rounded shadow-sm", alt: "ぬいぐるみと背景") %>
    </div>
  </div>
</div>