<div class="container">
  <div class="row">
    <div class="col mt-5 ml-5">
      <h4>投稿一覧</h4>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col ml-5">
    <table class='table'>
      <thead>
        <tr class="table-secondary">
          <th>投稿ID</th>
          <th>投稿日時</th>
          <th>投稿ユーザー名</th>
          <th>タイトル</th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr class="bg-white">
            <td><%= post.id %></td>
            <td><%= link_to post.created_at.strftime('%y/%m/%d %H:%M:%S'), admin_post_path(post.id) %></td>
            <td><%= post.user.username %></td>
            <td><%= post.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>