<% toys.each do |toy| %>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-center text-dark text-decoration-none">
      <%= link_to toy_path(toy.id), class: "d-flex align-items-center text-dark text-decoration-none" do %>
        <%= image_tag toy.get_toy_image(50, 50), class: "rounded-circle mr-3", style: "width: 50px; height: 50px; object-fit: cover;" %>
        <div>
          <div class="font-weight-bold"><%= toy.name %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>