<div class="container">
  <div class="row">
    <div class="col mt-4 ml-5">
      <h4>ユーザー一覧</h4>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col ml-5">
      <%= render 'index', users: @users %>
    </div>
    <div class="d-flex justify-content-center my-4">
      <%= paginate @users %>
    </div>
  </div>
</div>