<table class="table mt-5 mx-auto" style="width: 70%">
  <thead>
    <tr>
      <th class="table-active">ユーザーID</th>
      <th class="table-active">ユーザー名</th>
      <th class="table-active">メールアドレス</th>
      <th class="table-active">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td> 
          <%= link_to admin_user_path(user.id) do %>
            <%= user.username %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_active == true %>
            <div style="color: green;">有効</div>
          <% elsif user.is_active == false %>
            <div style="color: gray;">退会</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
