<div class="container">
  <div class="row">
    <div class="col-12 my-4 mx-4">
      <h4 class="text-center text-nowrap">
        <%= current_user.nickname %>さんのいいね一覧
      </h4>
      <%= link_to '←マイページに戻る', mypage_path, class: 'btn btn-outline-secondary ml-3 align-baseline' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% if @posts.present? %>
      <div class="d-flex flex-wrap mx-4">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
      <% else %>
        <p>いいねした投稿はまだありません。</p>
      <% end %>
      <div class="d-flex justify-content-center my-4">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>