<footer class="border-top" style="background-color: #fffff0; padding: 20px 0;">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        Copyright © Nuidori Inc. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>